@{
    Layout = "_Layout";
    var bdq = ViewData["bdq"] as List<Bdq>;
}
<div class="container-scroller">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                @if (bdq != null)
                {
                    @for (int i = 0; i < bdq.Count; i++)
                    {
                        <div class="col-md-4 mb-4">
                            <form method="post" asp-action="DeleteBdq" asp-controller="Admin" asp-route-idBdq="@bdq[i].IdBdq">
                                <div class="card border-info mb-3" style="">
                                    <center>
                                        <div class="card-header uppercase" style="text-transform: uppercase; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                                            @bdq[i].TypeBordereau?.Nom
                                        </div>
                                    </center>
                                    <div class="card-body text-info">
                                        <center><h5 class="card-title">@bdq[i].Titre</h5></center>
                                        <a asp-controller="Admin" asp-action="Materiaux" asp-route-idBdq="@bdq[i].IdBdq" class="nav-link">
                                            <p class="card-text">Les matériaux</p>
                                        </a>
                                        <a asp-controller="Plans" asp-action="Details" asp-route-idBdq="@bdq[i].IdBdq" class="nav-link">
                                            <p class="card-text">Plans</p>
                                        </a>
                                        <a asp-controller="Admin" asp-action="F1_AjoutTravaux" asp-route-idBdq="@bdq[i].IdBdq" class="nav-link">
                                            <p class="card-text">Ajouter les travaux</p>
                                        </a>
                                        <hr />
                                        <center><button type="submit" class="btn btn-outline-youtube"><i class="mdi mdi-delete"></i></button></center>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
